<section ng-cloak class="products">
    <product-sort sort-type="$ctrl.sortType"
        sorted="$ctrl.sorted"
        load-more-products="$ctrl.loadMoreProducts()"
        show-more-products="$ctrl.showMoreProducts()"
        show-finished="$ctrl.showFinished">
    </product-sort>
    <div auto-load="$ctrl.showMoreProducts()" 
        limit="$ctrl.limit"
        load-finished="$ctrl.loadFinished"
        is-loading="$ctrl.isLoading()"
        sorted="$ctrl.sorted">
        <md-grid-list ng-if="!$ctrl.sorted"
        md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile class="product" ng-repeat-start="product in $ctrl.products | limitTo: $ctrl.limit track by product.id">
            <md-grid-tile-header>
            <p>
                {{ product.date | DateFilter}}
            </p>
            </md-grid-tile-header>
            <div ng-style="{'font-size': product.size + 'px'}">
            {{ product.face }}
            </div>
            <md-grid-tile-footer>
            <p>
                {{ product.price | MonetaryFilter }}
            </p>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile ng-repeat-end ng-if="($index + 1) % 20 === 0 && $index !== 0">
            <ad></ad>
        </md-grid-tile>
        </md-grid-list>
    </div>
    <div ng-if="!$ctrl.showFinished">
        <loading-indicator></loading-indicator>
    </div>
    <div ng-if="$ctrl.showFinished">
        <p class="endMessage">
        {{ $ctrl.endMessage }}
        </p>
    </div>
</section>